body{
  font-family: 'Montserrat';
  text-align: justify;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgb(18, 23, 27);
  color: aliceblue;
}
.text{
  font-size: 24px;
}
.moreText{
  display: none;
